* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    width: 100%;
    padding: 1em 1.6em;
    h1 {
        display: inline-block;
    }
  }

  .description {
    max-height: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  #image-preview img {
    width: 200px;
    height: auto;
  }